<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <div id="background-container">
            <div id="back-green"></div>
            <div id="back-grey"></div>
        </div>

        <div id="main-container">

            <header class="my-row">
                <div id="user-profile" class="my-row">
                    <div id="user-img">
                        <img src="img/avatar_io.jpg" class="profile-img" alt="">
                    </div>
                    <div class="username">
                        <p class="title">Sofia</p>
                    </div>
                    <i class="fa-regular fa-circle"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                    
                </div>
                <div id="active-contact" class="my-row">
                   <div id="active-contact-img">
                        <img :src="contacts[selectedContactIndex].avatar" class="profile-img" alt="">
                   </div>
                   <div id="active-contact-info">
                        <p class="title">{{contacts[selectedContactIndex].name}}</p>
                        <p class="subtitle">Ultimo accesso oggi alle 12:00</p>
                   </div>
                   <i class="fa-solid fa-magnifying-glass"></i>
                   <i class="fa-solid fa-link"></i>
                   <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>


            <div id="main-content">
                <!-- LEFT SIDE OF THE CONTAINER -->
                <div id="left-side">
                    <div id="notifications" class="my-row">
                        <i id="bell" class="fa-solid fa-bell-slash"></i>
                        <div id="advise">
                            <p class="title">Ricevi notifiche di nuovi messaggi</p>
                            <p class="subtitle">Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div id="search-contact" class="my-row">
                        <button><i id="small-mglass" class="fa-solid fa-magnifying-glass"></i></button>
                        <input v-model="searchText" @keyup="searchContact()" type="search" placeholder="Cerca o inizia una nuova chat">
                    </div>

                    <div id="contacts-container">
                        <div @click="selectContact(index)" v-for="(contact,index) in contacts" v-show="contact.visible" :class="contact == contacts[selectedContactIndex] ? 'active' : '' " class="contact my-row">
                            <div id="user-img">
                                <img :src="contact.avatar" class="profile-img" alt="">
                            </div>
                            <div class="contact-info">
                                <p class="title"> {{contact.name}}</p>
                                <p class="subtitle">{{contact.messages[contact.messages.length-1].message}}</p>
                            </div>
                            <p class="subtitle time-message">{{getLastMessageHour(contact.messages[contact.messages.length-1].date)}}</p>
                        </div>
                    </div>


                </div>




                <!-- RIGHT SIDE OF THE CONTAINER  -->
                <div id="right-side">
                
                    <div id="main-display">
                        <div v-show="boxVisible" @mouseover="hover = true" @mouseleave="hover = false" v-for="message in contacts[selectedContactIndex].messages" :class="message.status" class="message">
                            <p class="box-text">{{message.message}}</p>
                            <p class="time-message">{{getMessageHour(message.date)}}</p>
                            <select v-show="hover" id="select" class="form-select">
                                <option @click="deleteMessage(option)" v-for="option in options" value="option.value">{{option.label}}</option>
                            </select>
                        </div>
                    
                    </div>
                    <div id="send-message" class="my-row">
                        <div id="smile-container">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <input v-model="newMessageText" @keyup.enter="sendMessage(); answerMessage()" id="message-writer" type="search" placeholder="Scrivi un messaggio">
                        <div id="mic-container">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>

      


        </div>

        







    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>